.h5_component_polyline{
    
}
.h5_component_polyline canvas{
    position: absolute;
    left:0;
    top:0;
    width:100%; /* 用canvas做动画会进行分层 要用到z-index */
    height:100%;
}
.h5_component_polyline .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    bottom: -20px;
    -webkit-transform: scale(.8);
    -webkit-transition: all 1s 1.5s;
    -webkit-opacity: 0;
}
.h5_component_polyline_load .text{
    -webkit-transition: all 1s 1.5s;
    -webkit-opacity: 1;
}
.h5_component_polyline_leave .text{
    -webkit-opacity: 0;
}